<!DOCTYPE html>
<html lang="en-EN">

<head>
  <title>Open city</title>
  <link rel="stylesheet" href="/styles/style.css">
</head>

<body>
<div class="wf-container">
  <div class="wf-box"> <img src="1.jpg">
    <div class="content">
      <h3>Title 1</h3>
      <p>Content Here</p>
    </div>
  </div>
  <div class="wf-box"> <img src="2.jpg">
    <div class="content">
      <h3>Title 2</h3>
      <p>Content Here</p>
    </div>
  </div>
  <div class="wf-box"> <img src="3.jpg">
    <div class="content">
      <h3>Title 3</h3>
      <p>Content Here</p>
    </div>
  </div>
</div>

</body>

</html>