<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Map view</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>

<style>
    .button {
        position: relative;
        background-color: #0D1117;
        border-radius: 15vw;
        border: none;
        font-size: 12px;
        color: #F5F5F5;
        padding: 10px;
        width: 70%;
        margin: auto;
        text-align: center;
        -webkit-transition-duration: 0.4s;
        /* Safari */
        transition-duration: 0.4s;
        text-decoration: none;
        overflow: hidden;
        cursor: pointer;
    }
    
    .button:after {
        content: "";
        background: #323538;
        display: block;
        position: absolute;
        padding-top: 300%;
        padding-left: 350%;
        margin-left: -20px!important;
        margin-top: -120%;
        opacity: 0;
        transition: all 0.8s
    }
    
    .button:active:after {
        padding: 0;
        margin: 0;
        opacity: 1;
        transition: 0s
    }
    
    .addingPanel {
        color: #0D111795;
        position: fixed;
        display: grid;
        grid-template-rows: 10% 10% auto 15vw 10%;
        right: 20px;
        top: 15vh;
        z-index: 5;
        width: 25vw;
        height: 70vh;
        background-color: #f5f5f598;
        border-radius: 2vh;
        padding: 4vh 2vh;
    }
    
    .addingPanel>.localization>img {
        display: inline-block;
        max-width: 5vh;
    }
    
    .addingPanel>.localization>p {
        color: #0D1117;
        display: inline-block;
        width: 80%;
    }
    
    .addingPanel>.title {
        font-size: 30px;
        border-bottom: 2px solid #0D1117;
        margin: 1vh 0;
    }
    
    .addingPanel>.description {
        font-size: 20px;
        border-bottom: 2px solid #0D1117;
        margin: 1vh 0;
    }
    
    .addingPanel>.coverImg {
        display: grid;
        grid-template-columns: 10%;
        place-self: center stretch;
        place-content: center center;
        max-height: 20vh;
        height: 20vh;
        background-color: #0D111750;
        border-radius: 5vh;
    }
    
    .addingPanel>.coverImg>img {
        max-width: 100%;
    }
    
    .addingPanel>.addBtn {
        display: grid;
        grid-template-columns: 50%;
        place-content: center center;
        place-self: center center;
        max-height: 100%;
        width: 10vh;
        background-color: #3E971F50;
        height: 5vh;
        border-radius: 5vh;
    }
    
    .addingPanel>.addBtn>img {
        place-self: center center;
        height: 4vh;
    }
</style>

<body>
    <script>
        function logout() {
            fetch('/logout', {
                method: 'POST'
            }).then(() => {
                window.location.href = '/'
            })

        }
    </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <nav style="margin:0px;">
        <div class="navbar_top_half">
            <a class="active" href="#" style="font-family: Consolas;"><i class="fa fa-fw fa-home"></i>{{user_name}}{{user_surname}}</a>
            <a href="#" style="color: white;"> / </a>
            <a href="#" style="font-family: Consolas;">Searchbox  <i class="fa fa-fw fa-search"></i></a>
            <div class="dropdown">
                <img class="tools" src="/img/icons/settings2.png">
                <div class="dropdown-content">
                    <img class="user_image" src="/images/person.jpg" alt="">
                    <div style="font-size:smaller">{{user_name}} {{user_surname}}</div>
                    <button onclick="" class="dropbtn">Edit email </button>
                    <button onclick="" class="dropbtn">Change city </button>
                    <button onclick="logout()" class="dropbtn_log"><img src="/img/icons/logout.png" > Log out</button>
                </div>
            </div>
        </div>
        <div class="navbar_bottom_half">
            <a class="active" href="/"><img class="bar_icon" src="/img/icons/idea.png" alt=""> Ideas</a>
            <a href="/mapview"><img class="bar_icon" src="/img/icons/street-map.png" alt=""> City</a>
            <a href="/prview"><img class="bar_icon" src="/img/icons/minimize.png" alt=""> Pull Requests</a>
            <a href="/imgview"><img class="bar_icon" src="/img/icons/photo.png" alt=""> Memes</a>
            <a href="https://en.wikipedia.org/wiki/Initiative"><img class="bar_icon" src="/img/icons/open-book.png" alt=""> Wiki</a>
            <a href="#"><img class="bar_icon" src="/img/icons/email.png" alt=""> Insights</a>
        </div>
    </nav>

    <div class="google-map" style="width: 100vw; height: calc(100vh - 90px); margin-top: 0px; padding: 0px;">

    </div>

    <script>
        let geocoder = null;
        let googleMap = document.querySelector('.google-map');
        let map = null;
        let marker = null;
        let loadedLocations = {};
        let address = 'Łódź';

        function initMap() {
            geocoder = new google.maps.Geocoder();
            map = new google.maps.Map(googleMap, {
                zoom: 13
            });
            marker = new google.maps.Marker({
                map: map,
            });
            google.maps.event.addListenerOnce(map, 'idle', codeAddress);

            marker.addListener("click", () => {
                const contentString =
                    '<div>' +
                    '<p>"Stuff about the localization"</p>' +
                    '<button class="button" onclick="openAddingOption()">"Add idea here"</button>' +
                    "</div>";
                const infowindow = new google.maps.InfoWindow({
                    content: contentString,
                });
                infowindow.open(map, marker);
            })
        }

        function codeAddress() {
            if (!loadedLocations[address]) {
                geocoder.geocode({
                    address: address
                }, function(results, status) {
                    if (status == google.maps.GeocoderStatus.OK) {
                        map.setCenter(results[0].geometry.location);
                        loadedLocations[address] = results[0].geometry.location;
                        marker.setPosition(loadedLocations[address]);
                    } else {
                        console.log("Nie udało się załadować miejsca na mapie, " + status);
                    }
                });
            } else {
                map.setCenter(loadedLocations[address]);
                marker.setPosition(loadedLocations[address]);
            }
        }

        function openAddingOption() {
            var addingPanel = document.createElement("div");
            addingPanel.className = "addingPanel";

            var localization = document.createElement("div");
            localization.className = "localization";
            localization.innerHTML = '<img src="img/icons/localization.png" alt="localizaation-icon" /> <p class="localization-info">TAKEN FROM MARKER SOMEHOW</p>';

            var title = document.createElement("div");
            title.className = "title";
            title.innerHTML = "Add title here...";

            var description = document.createElement("div");
            description.className = "description";
            description.innerHTML = "Add description here...";

            var coverImg = document.createElement("div");
            coverImg.className = "coverImg";
            coverImg.innerHTML = '<img src="img/icons/upload.png" alt="upload-button" />';

            var addBtn = document.createElement("div");
            addBtn.className = "addBtn";
            addBtn.innerHTML = '<img src="img/icons/add.png" alt="add-button" />';

            addingPanel.appendChild(localization);
            addingPanel.appendChild(title);
            addingPanel.appendChild(description);
            addingPanel.appendChild(coverImg);
            addingPanel.appendChild(addBtn);

            document.body.appendChild(addingPanel);
            console.log(marker);
        }
    </script>
    <script src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDa4nN-bDVonpOyK5S7HAx23krp3ZBRLhE&callback=initMap' async defer></script>

</body>

</html>