<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/styles/style.css">
</head>

<body>
    <!-- Load an icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <div class="navbar_top_half">
        <a class="active" href="#"><i class="fa fa-fw fa-home"></i> Username</a>
        <a href="#" style="color: white;"> / </a>
        <a href="#">Searchbox  <i class="fa fa-fw fa-search"></i></a>
    </div>
    <div class="navbar_bottom_half">
        <a class="active" href="#"><i class="fa fa-fw fa-home"></i> Ideas</a>
        <a href="#"><i class="fa fa-fw fa-home"></i> City</a>
        <a href="#"><i class="fa fa-fw fa-home"></i> Pull Requests</a>
        <a href="#"><i class="fa fa-fw fa-home"></i> Images</a>
        <a href="#"><i class="fa fa-fw fa-home"></i> Projects</a>
        <a href="#"><i class="fa fa-fw fa-home"></i> Wiki</a>
        <a href="#"><i class="fa fa-fw fa-home"></i> News</a>
        <a href="#"><i class="fa fa-fw fa-home"></i> Insights</a>
    </div>

</body>

</html>