<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/pr_view.css">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Poppins" />
</head>

<script>
    function logout() {
        fetch('/logout', {
            method: 'POST'
        }).then(() => {
            window.location.reload();
        })
    }
</script>

<body>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <nav>
        <div class="navbar_top_half">
            <a class="active" href="#" style="font-family: Poppins;"><i class="fa fa-fw fa-home"></i>{{user_name}}{{user_surname}}</a>
            <a href="#" style="color: white;"> / </a>
            <a href="#" style="font-family: Poppins;">Searchbox  <i class="fa fa-fw fa-search"></i></a>
            <div class="dropdown">
                <img class="tools" src="/img/icons/settings2.png">
                <div class="dropdown-content">
                    <img class="user_image" src="/images/person.jpg" alt="">
                    <div class="user-name">{{user_name}} {{user_surname}}</div>
                    <button onclick="" class="dropbtn">Edit email </button>
                    <button onclick="" class="dropbtn">Change city </button>
                    <button onclick="logout()" class="dropbtn_log"><img src="/img/icons/logout.png" > Log out</button>
                </div>
            </div>
        </div>
        <div class="navbar_bottom_half">
            <a class="active" href="/"><img class="bar_icon" src="/img/icons/idea.png" alt=""> Ideas</a>
            <a href="/mapview"><img class="bar_icon" src="/img/icons/street-map.png" alt=""> City</a>
            <a href="/prview"><img class="bar_icon" src="/img/icons/minimize.png" alt=""> Pull Requests</a>
            <a href="/imgview"><img class="bar_icon" src="/img/icons/photo.png" alt=""> Memes</a>
            <a href="https://en.wikipedia.org/wiki/Initiative"><img class="bar_icon" src="/img/icons/open-book.png" alt=""> Wiki</a>
            <a href="#"><img class="bar_icon" src="/img/icons/email.png" alt=""> News</a>
        </div>
    </nav>

    <div class="pr_area">
        <div class="pr_info_bar">
            <div class="pr_left_info_bar">
                <img class="pr_info_bar_icon " src="/img/icons/pr_open.png " alt=" ">
                <span class="pr_info_bar_text " id="open_count"></span>
                <img class="pr_info_bar_icon " src="/img/icons/pr_closed.png " alt=" ">
                <span class="pr_info_bar_text " id="closed_count"></span>
            </div>
            <div class="pr_right_info_bar">
                <div class="pr_drop_menu">
                    <span class="pr_info_bar_text ">Author</span>
                    <img class="pr_info_bar_drop" src="/img/icons/dropdown_icon_small_down.png " alt=" ">
                </div>

                <div class="pr_drop_menu">
                    <span class="pr_info_bar_text ">Label</span>
                    <img class="pr_info_bar_drop" src="/img/icons/dropdown_icon_small_down.png " alt=" ">

                    <div class="pr_drop_menu">
                        <span class="pr_info_bar_text ">Idea</span>
                        <img class="pr_info_bar_drop" src="/img/icons/dropdown_icon_small_down.png " alt=" ">
                    </div>
                </div>
            </div>
        </div>

        <section>
            <div id="pr_info_blocks_area" class="list-wrapper"></div>
        </section>
    </div>

    <span style="display: none;" id="PR_JSON">{{PR_JSON}}</span>

    <script>
        const PR_JSON = JSON.parse(document.querySelector('#PR_JSON').innerText);
    </script>

</body>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="/scripts/pr_view_main.js"></script>

</html>