html {
  font: 500 calc(1em + 0.2vmin) Nunito, "SansSerif", monospace;
  background: #FBFAF5;
}

body {
  padding: 0;
  margin: 0;
}

.main-container {
  display: grid;
  grid-template-columns: 0.15fr auto;
}

nav {
  position: sticky;
  top: 0;
  margin-bottom: 20px;
  z-index: 2;
}

.district-filter {
  margin: 0;
}

.district-header {
  margin: 0;
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.district-header h2, .district-header img {
  margin: 0 0 10px 0;
}

.district-header img {
  margin-left: 15px;
  width: 20px;
  transition: 0.5s;
}

.unwrapped-arrow {
  transform: rotate(90deg);
}

#district-filters-wrapper, #category-filters-wrapper {
  display: flex;
  flex-direction: column;
  margin: 20px 10px 10px 10px;
  justify-content: flex-start;
  align-items: flex-start;
  position: sticky;
  top: 135px;
  transition: 0.5s;
}

#district-filters-wrapper {
  display: none;
}

.unwrapped-list {
  display: flex !important;
}

#category-filters-wrapper {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  transition: 0.5s;
}

#category-filters-wrapper span {
  color: #FBFAF5;
  border: none;
  cursor: pointer;
}

#district-filters-wrapper span {
  display: inline-block;
  transition: 0.5s;
  opacity: 0;
  align-items: center;
}

.gallery-filter-item, .category-filter-item {
  font-weight: bold;
  padding: 15px 30px;
  margin: 4px 5px;
  border-radius: 100px;
  color: rgba(65, 74, 76, 0.56);
  border: 1px solid #414a4c;
  opacity: 0.8;
}

.gallery-filter-item:hover {
  color: #0D1117;
  border: 1px solid #0D1117;
  transition: 0.4s;
  opacity: 1;
  cursor: pointer;
  box-shadow: 2px 2px 4px #0D1117;
}

.gallery-item img {
  width: 100%;
  border-radius: 30px;
  max-height: 90vh;
}

.gallery-item img:hover {
  cursor: pointer;
}

.gallery-item h3 {
  margin: 5px 0 0 20px;
}

.wf-container {
  margin: 0 auto;
}

.wf-container:before,
.wf-container:after {
  content: '';
  display: table;
}

.wf-container:after {
  clear: both;
}

.wf-box {
  margin: 10px;
}

.wf-box img {
  display: block;
  width: 100%;
}

.wf-box .content {
  border: 1px solid #ccc;
  border-top-width: 0;
  padding: 5px 8px;
}

.wf-column {
  float: left;
}

.navbar_top_half {
  width: 100%;
  background-color: #161B22;
  overflow: auto;
}

.navbar_top_half a {
  float: left;
  text-align: center;
  padding: 12px;
  color: #2C98FF;
  text-decoration: none;
  font-size: 17px;
}

.navbar_top_half a:hover {
  background-color: #161B22;
}

.active {
  background-color: #161B22;
}


/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */

@media screen and (max-width: 500px) {
  .navbar_top_half a {
    float: none;
    display: block;
  }
}

.navbar_bottom_half {
  width: 100%;
  background-color: #161B22;
  overflow: auto;
}

.navbar_bottom_half a {
  float: left;
  text-align: center;
  padding: 12px;
  color: whitesmoke;
  text-decoration: none;
  font-size: 17px;
}

.navbar_bottom_half a:hover {
  background-color: #000;
}

@media screen and (max-width: 500px) {
  .navbar_bottom_half a {
    float: none;
    display: block;
  }
}

.bar_icon {
  width: 15px;
  height: 15px;
}